
.active{
    background-color: #1d4ed8;
}
.father {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f172a;
    color: white;
    position: fixed;
    top: 0;
    z-index: 1;
}

.open { 
    display: flex;
}
.abc {
   list-style: none; 
}

.z {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

.z:not(.active):hover {
    background-color:#172554 ;
}

 .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

.s {
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}

@media (max-width: 480px) {
    .menu {
        display: flex;
    }

    .father {
        flex-direction: column;
        align-items: flex-start;
    }

    .notOpen {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    .open {
        display: flex;
        flex-direction: column;
    }

    .abc {
        width: 100%;
        text-align: center;
    }

    .z {
        margin: 0.2rem 0.5rem;
    }
    
}