.text-red {
    color: red;
}

.general-input {
    padding: 5px
}

ListGroup {
    display: flex;
    border-bottom: 1px solid;
    border-color: #002843
}

.film-schedule {
    &-date-bar{
        display: flex;
        border-bottom: 1px solid;
        border-color: #002843;
    }
}

.film-infor {
    &-frame {
        width: 100%;
        margin: 5px;
        border: 2px solid;
        border-radius: 5px;
        border-color: #3498db;
        
    }
    &-img {
        max-width: -webkit-fill-available;
        border-radius: 3px;
    }
    &-edit-frame{
        border-left: 1px solid #002843;
        padding-left: 10px;
        height: 100%;
    }
    &-label{
        color: black;
        size: 18px;
        font-size: 18px;
        font-weight: bold;
        vertical-align: middle;
        text-align: center;
    }
    &-textarea {
        border-radius: 5px;
        min-width: 500px;
        min-height: 100px;
    }
    &-input {
        border-radius: 5px;
    }
    &-save-row {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 50px;

    }
}

.loader {
    border: 8px solid #f3f3f3; /* Light gray */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



